<!DOCTYPE html>
    <html>
    <head>
        <title>Person and Product</title>
    <meta charset="UTF-8"/>
    <link href="~/StyleSheet.css" rel="stylesheet" />

    </head>
    <body>
    <div class="page-content">
        <h1>Person with Product</h1>
       <div class="box w-100">
           <h3>Person</h3>
       </div>
        <div class="box w-100">
            <h3>Product</h3>
        </div>
    </div>
    </body>
    </html>