@using ViewsExample.Models
@model Person;

<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
    @* This is a comment *@
    <a href="/">Back to Home</a>
    <h1>Person Details</h1> 
 

    <table>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.PersonGender</td>
    </tr>
</table>
            


    </body>
    </html>
